/** */
/*{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*html, */
/*body {*/
/*    overflow: hidden;*/
/*}*/

.canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.modal {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-color: white;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}